:root {
    --background-color: rgb(59, 59, 59);
    --second-forground-color: rgb(228, 228, 228);
    --accent-color: rgb(255, 255, 255);
    --text-color: black;
    --shiny-color: blue;
}

html * {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 4rem;
    background-color: var(--background-color);
    color: var(--second-forground-color);

    display: flex;
}

nav {
    background-color: var(--second-forground-color);
    margin-bottom: 0.5rem;
    justify-items: center;
    user-select: none;
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}
nav li {
    margin: 0.3rem;
}
nav li+li::before {
    content: "/";
    margin-right: 0.5rem;
}
nav a {
    text-decoration: none;
    color: var(--background-color);
}

footer {
    border-top: 0.3rem solid var(--background-color);
    background-color: var(--second-forground-color);
    padding: 1rem;
    margin-top: auto;
}

.logo {
    padding-left: 1rem;
    height: 100%;
    align-content: center;
    font-size: larger;
}
.logo a {
    text-decoration: none;
    color: var(--accent-color);
}
h2 {
    padding-left: 1rem;
}
main {
    justify-items: center;
    padding: 0.5rem;
    grid-gap: 1rem;
    /* display: grid;
    grid-template-columns: repeat( auto-fill, minmax(176px, 1fr) ); */
}
label {
    padding: 1rem;
}
input {
    border: 2px solid var(--background-color);
    border-radius: 0.5rem;
    height: 3rem;
    margin: 0.5rem 1rem;
    padding: 0 0.5rem;
}
p {
    max-width: 700px;
}
/* web componants */
.block {
    padding: 1rem;
    background-color: var(--second-forground-color);
}
.divider {
    border-bottom: 3px var(--text-color) solid;
}
#msg {
    padding: 1rem;
    margin:  0 0 1rem 0;
    background-color: var(--second-forground-color);
    color: var(--text-color);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#pokeball-amount {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--accent-color);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
/* page list */
.pages {
    justify-items: center;
}
.pages ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.pages li {
    background-color: white;
    padding: 0.5rem;
    min-width: 1rem;
    text-align: center;
    margin: 0.1rem;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 3px var(--background-color);
    transition: box-shadow 0.5s;
}
.pages li:hover {
    box-shadow: inset 0 0 8px var(--background-color);
    transition: box-shadow 0.2s;
}
.pages a {
    text-decoration: none;
    color: var(--text-color);
}
/* collapsable lists */
.collapsible {
    display: block;
    
}
.collapsible h4 {
    padding: 1rem;
    user-select: none;
    margin: 0;
    background-color: var(--background-color);
    color: var(--accent-color);
}
.collapsible ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
}
.collapsible ul a {
    text-decoration: none;
    color: var(--text-color);
    text-transform: capitalize;
}
.collapsible ul li {
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: var(--text-color);
    text-transform: capitalize;
}
.collapsed {
    display: none;
}
.extend::after {
    content: "+";
    position: relative;
    left: 10px;
}
.collaps::after {
    content: "-";
    position: relative;
    left: 10px;
}

/* wide appear narrow disappear */
.wide-appearables {
    display: block;
}
/* Pokemon */
/*      Cards */
.pokemon-cards, .pokemon-caught {
    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 1.3rem;
    box-shadow: 0 0 10px var(--second-forground-color);
    transition: box-shadow 1s;

    width: 100%;
    /* max-width: 320px; */
    min-width: fit-content;
    height: 100%;
}
.pokemon-cards:hover, .pokemon-caught:hover {
    box-shadow: 0 0 20px var(--background-color);
    transition: box-shadow 1s;
}

.pokemon-cards h2, .pokemon-caught h2 {
    padding: 0;
    margin: 1rem;
    font-size: medium;
}
.pokemon-cards img, .pokemon-caught img {
    width: 100%;
    image-rendering: pixelated;
}
.pokemon-cards ul, .pokemon-caught ul {
    display: flex;
    list-style: none;
    margin: auto 0 0 0;
    padding: 0.5rem;
    background-color: var(--background-color);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.pokemon-cards ul li, .pokemon-caught ul li {
    margin: 2px;
}
.pokemon-cards ul li a, .pokemon-caught ul li a {
    color: var(--accent-color);
}
.pokemon-cards a, .pokemon-caught a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    padding: 0.2rem;
}
.pokemon-caught {
    min-width: 320px;
}

#look-around, #catch {
    display: inline;
    margin: 1rem;
    padding: 1rem;
    border: 0.2rem var(--background-color) solid;
    color: white;
    background-color: var(--background-color);
    border-radius: 1rem;
    width: fit-content;
    font-size: small;
}
#look-around:hover {
    color: rgb(0, 134, 134);
}
#look-around::after {
    margin: 0 0.2rem;
    content: "🐾";
    background-color: aliceblue;
    border-radius: 0.1rem;
}

/* Pokemon type markups */
.shiny {
    /* border: 0.3rem solid gold; */
    border-radius: 1rem;
    position: relative;
    box-sizing: border-box;

    transition: all 1s;
}
.shiny:hover {
    box-shadow: 0 0 1rem var(--shiny-color);
    transition: all 1s;

    
}
.shiny::before {
    padding: 7px;
    width: 100%;
    height:100%;
    top: -7px;
    left: -7px;
    position:absolute;
    z-index:-1;

    content: "";

    border-radius: 1rem;
    background-image: linear-gradient(to bottom, var(--shiny-color) 0%, white 50%, var(--shiny-color) 100%);

    animation: shine;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Animatede classes */
.capture {
    animation: captured;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier();
}
.shake {
    animation: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier();
}
.escape {
    animation: escape;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier();
}
/* Animations */
@keyframes escape {
    0% {
        transform: rotate(0) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(0);
    }
}
@keyframes captured {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(10);
        opacity: 0;
    }
}
@keyframes shake {
    0%, 100% {
        transform: translate(0);
    }
    33% {
        transform: translate(10px);
    }
    66% {
        transform: translate(-10px);
    }
}
@keyframes shine {
    0%, 100% {
        box-shadow: 0 0 1rem var(--shiny-color);
    }
    50% {
        box-shadow: 0 0 2rem var(--shiny-color);
    }
}

.normal::before {
    content: "⬛";
}
.fire::before {
    content: "🔥";
}
.water::before {
    content: "💦";
}
.electric::before {
    content: "⚡";
}
.grass::before {
    content: "🌿";
}
.ice::before {
    content: "❄️";
}
.fighting::before {
    content: "🥷";
}
.poison::before {
    content: "🟢";
}
.ground::before {
    content: "🟫";
}
.flying::before {
    content: "🪶";
}
.psychic::before {
    content: "🧠";
}
.bug::before {
    content: "🐛";
}
.rock::before {
    content: "🪨";
}
.ghost::before {
    content: "👻";
}
.dragon::before {
    content: "🐲";
}
.dark::before {
    content: "🌑";
}
.steel::before {
    content: "🤘";
}
.fairy::before {
    content: "🧚";
}
/*      Details */
.pokemon-detail {
    margin: auto;
    max-width: 700px;
    border: 0.2rem solid var(--background-color);
    background-color: white;
}
.pokemon-detail img {
    display: block;
    margin: auto;
    width: 344px;
    image-rendering: pixelated;
}
.pokemon-detail button {
    border: none;
    background-color: white;
    font-size: medium;
}
.notfavorite::after {
    content: "⭕";
}
.favorite::after {
    content: "🔴";
}

@media only screen and (max-width: 600px) {
    .nav-dropdown {
        width: fit-content;
        height: fit-content;
        padding: 1rem;
        margin-left:  auto;
        margin-top: auto;
        line-height: 100%;
        vertical-align: middle;
    }
    .nav-dropdown::before {
        content: "☰";
        font-size: xx-large;
    }
    .wide-appearables {
        display: none;
    }
  }